<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Registration successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 0;
            color: #333; /* Text color */
        }
        
        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 100px; /* Adjust the width as needed */
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #333;
            margin-bottom: 20px; /* Add space below the heading */
        }
        p {
            color: #555;
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <img src="iiitglogo.jpeg" alt="IIITG Logo" class="logo">
    <div class="container" id="registrationForm">
        <h1>Candidate Registration Successful</h1>
        <p>Please upload your manifesto in the "Upload Manifesto" page. If already uploaded, please proceed.</p>
    </div>
</body>
</html>
