<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Makes the body take up the full height of the viewport */
            background-image: url('clgepic.jpg'); /* Add background image URL here */
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the background image */
            background-repeat: no-repeat; /* Do not repeat the background image */
        }
        .logo {
            position: absolute;
            top: 5px;
            left: 330px;
            width: 750px; /* Adjust the width as needed */
        }

        h1 {
            text-align: center;
        }
        ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        li {
            background-color:(0, 0, 0);
            color: white;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(9, 4, 4, 0.1);
            width: 150px; /* Adjust the width as needed */
            height: 150px; /* Adjust the height as needed */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li:hover {
            background-color:brown;
            color: black;
            border: 1px solid black;
        }
        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="logo.jpg" alt="IIITG Logo" class="logo">
    <h1>ELECTION MANAGEMENT SYSTEM</h1>
  
    <ol>
        <li> 
           <a href="registration.html"><b>REGISTRATION</b></a>     
        </li>
        <li> 
            <a href="ballot.html"><b>BALLOT</b></a>  
        </li>
        <li> 
            <a href="results.html"><b>RESULTS</b></a>      
        </li>
        <li> 
            <a href="helpdesk.html"><b>HELPDESK</b></a>  
        </li>
    </ol>
</body>
</html>
